Repository StarostaGit/Rookie, pull requests merged in 2021-06, with the labels that each got.

#12 client: If-then-else construction refactor
  client/Client/Draw.hs
Labels: client, refactor

#16 interfaces: Add BoardState to FEN conversion
  interfaces/Interfaces/Notation.hs
Labels: engine, interfaces

#17 interfaces: Add playMove API
  interfaces/Interfaces/Play.hs
  interfaces/interfaces.cabal
Labels: enhancement, interfaces

#20 engine: Add minmax searching algorithm to the search function
  engine/Engine/Search.hs
Labels: engine

#23 Edit gitignore to untrack executables
  .gitignore
Labels: enhancement
