Repository StarostaGit/Rookie, pull requests merged in 2021-07, with the labels that each got.

#24 client: Support en passant
  client/Client/Draw.hs
Labels: client, enhancement

#25 interfaces: Don't send moves exposing the king to the client
  engine/Engine/Moves.hs
  interfaces/Interfaces/LegalMoves.hs
Labels: enhancement, interfaces

#26 client: Support deselecting pieces
  client/Client/Draw.hs
Labels: client

#27 engine: Recognize states with checked kings and moves that lead to them
  engine/Engine/BoardState.hs
  engine/Engine/Moves.hs
  interfaces/Interfaces/Notation.hs
Labels: engine

#28 engine: Add pawn promotions as results of reaching the last rank
  engine/Engine/Moves.hs
Labels: engine, enhancement

#29 engine: Fix king teleporting from file A to file H
  engine/Engine/Moves.hs
Labels: bug, engine
